<div class="home-container">
  <app-header></app-header>
  <div class="content-container">
    <section class="filter">
      <mat-form-field>
        <mat-label>Género</mat-label>
        <mat-select>
          @for(genre of genres; track genre.id) {
          <mat-option [value]="genre.id">{{ genre.name }}</mat-option>
          } @empty { No hay géneros disponibles }
        </mat-select>
      </mat-form-field>
      <span>Selecciona tu género musical favorito</span>
    </section>
    <section class="event-list">
      @for(concert of concerts; track concert.id){
      <app-event-card appHighlightable [data]="concert"></app-event-card>
      }@empty { No hay conciertos disponibles }
    </section>
  </div>
  <app-footer></app-footer>
</div>
